form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  width: 100%;
  max-width: 400px;
}

#login-input, #password {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
}

#submit-login {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 5px;
  width: 100%;
  /* max-width: 200px; */
  cursor: pointer;
}

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
}
